footer{
				width: 100%;
				height: 5rem;
				position: fixed;
				bottom: 0;
				right: 0;
				left: 0;
			}
			footer ul{
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-around;
			}
			footer ul li{
				width: 20%;
				text-align: center;
				
			}
			footer ul li a span{
				display: block;
				width: 2.5rem;
				margin: 0.5rem auto;
				height: 2.5rem;
				
			}
			footer ul li a .li_sp1{
				background-image: url(../images/footer5.png);
				background-size:2.5rem 5.4rem;
				background-position-x:0.5rem ;
			}
			footer ul li a .li_sp2{
				background-image: url(../images/footer6.png);
				background-size:2.5rem 5.4rem;
				background-position-x:0.1rem ;
			}
			footer ul li a .li_sp3{
				background-image: url(../images/footer7.png);
				background-size:2.5rem 5.1rem;
				background-position-x:0.1rem ;
			}
			footer ul li a .li_sp4{
				background-image: url(../images/footer8.png);
				background-size:2.5rem 5.6rem;
				background-position-x:0.1rem ;
			}
			
			footer ul li a:hover{
				color: #ED3531;
			}
			
			footer ul li a:hover>span{
				background-position-y: 2.8rem;
			}
			footer ul li a:hover>.li_sp3{
				background-position-y: 2.55rem;
			}
			